<div id="display_top_50_items">
    {{#each topDayItems}}
    <div class="d-grid gap-1">

        {{#if (eq this.type "meeting")}}
        <button class="badge event-pill text-bg-primary text-wrap text-center event-button" data-bs-toggle="modal"
            data-bs-target="#modal-meeting-display" data-bs-eventId="{{this._id}}"
            data-bs-userId="{{../session.user_id}}" data-bs-event-type="{{this.type}}">
            <i class="bi-calendar-event"></i>
            {{{this.title}}}</button>
        {{/if}}

        {{#if (eq this.type "reminder")}}
        <button class="badge event-pill text-bg-warning text-wrap text-center event-button" data-bs-toggle="modal"
            data-bs-target="#modal-reminder-display" data-bs-eventId="{{this._id}}"
            data-bs-userId="{{../session.user_id}}" data-bs-event-type="{{this.type}}">
            <i class="bi-alarm"></i>
            {{{this.title}}}</button>
        {{/if}}

        {{#if (eq this.type "task")}}
        <button class="badge event-pill text-bg-danger text-wrap text-center event-button" data-bs-toggle="modal"
            data-bs-target="#modal-task-display" data-bs-eventId="{{this._id}}" data-bs-userId="{{../session.user_id}}"
            data-bs-event-type="{{this.type}}">
            <i class="bi-check2-square"></i>
            {{{this.title}}}</button>
        {{/if}}
    </div>

    {{/each}}
</div>