<nav class="navbar justify-content-between">
  <div class="navbar-brand">
    <i class="bi-calendar-check-fill"></i>
    <a class="navbar-brand" href="/">TimeWise</a>
  </div>
  {{#if session}}
  <div>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <div class="btn-group" role="group" aria-label="Calendar View Options
          Radio">
          <input {{#if months}}checked{{/if}} type="radio" class="btn-check" name="viewBtnRadio" id="monthViewRadio" >
          <label class="btn btn-outline-dark" for="monthViewRadio">Month</label>
          <input {{#if week}}checked{{/if}} type="radio" class="btn-check" name="viewBtnRadio" id="weekViewRadio" >
          <label class="btn btn-outline-dark" for="weekViewRadio">Week</label>
          <input {{#if day}}checked{{/if}} type="radio" class="btn-check" name="viewBtnRadio" id="dayViewRadio" >
          <label class="btn btn-outline-dark" for="dayViewRadio">Day</label>
        </div>
      </li>
      <li class="nav-item">
        
        <div>
          <form id="todayForm" method="get" {{#if months}} action="/calendar/month" {{/if}}>
            <button id="today" class="btn btn-primary" type="submit">Today</button>
          </form>
        </div>
        
      </li>
    </ul>
  </div>
  <div>
    {{#if months}}

    <ul class="nav justify-content-center">

      <li class="nav-item">
        <form id="monthCalendarForm" method="get" action="/calendar/month">
          <input type="hidden" name="month" value="{{prevMonth}}">
          {{#if (eq currentMonth 0 )}}
          <input type="hidden" name="year" value="{{prevYear}}">
          {{else}}
          <input type="hidden" name="year" value="{{currYear}}">
          {{/if}}
          <button type="submit" id="prevMonth" class="btn btn-outline-dark" style="border:
              none">
            <i class="bi bi-arrow-left-circle" style="font-size: 1.5rem;
                border:
                none"></i>
          </button>
        </form>

      </li>

      <li class="nav-item">
        <select id="monthDropDown" class="form-select h-100" aria-label="Month
            Select">
          {{#each months}}
          <option value="{{@index}}" {{#if (eq @index ../currentMonth)}}selected{{/if}}>{{this}}</option>
          {{/each}}
        </select>
      </li>

      <li class="nav-item">
        <form method="get" action="/calendar/month">
          <input type="hidden" name="month" value="{{nextMonth}}">
          {{#if (eq currentMonth 11)}}
          <input type="hidden" name="year" value="{{nextYear}}">
          {{else}}
          <input type="hidden" name="year" value="{{currYear}}">
          {{/if}}
          <button type="submit" id="nextMonth" class="btn btn-outline-dark" style="border:
              none">
            <i class="bi-arrow-right-circle" style="font-size: 1.5rem; border:
                none"></i>
          </button>
        </form>

      </li>

      <li class="nav-item">
        <form id="yearCalendarForm" method="get" action="/calendar/month">
          <input type="hidden" name="month" value="{{currentMonth}}">
          <input type="hidden" name="year" value="{{prevYear}}">
          <button type="submit" id="prevYear" class="btn btn-outline-dark" style="border: none">
            <i class="bi bi-arrow-left-circle" style="font-size: 1.5rem;
                border:
                none"></i>
          </button>
        </form>

      </li>

      <li class="nav-item">
        <select id="yearDropDown" class="form-select h-100" aria-label="Year
            Select">
          {{#each yearRange}}
          <option value="{{this}}" {{#if (eq ../currYear this)}}selected{{/if}}>{{this}}</option>
          {{/each}}
        </select>
      </li>

      <li class="nav-item">
        <form method="get" action="/calendar/month">
          <input type="hidden" name="month" value="{{currentMonth}}">
          <input type="hidden" name="year" value="{{nextYear}}">
          <button type="submit" id="nextYear" class="btn btn-outline-dark" style="border: none">
            <i class="bi-arrow-right-circle" style="font-size: 1.5rem; border:
                none"></i>
          </button>
        </form>
      </li>
    </ul>
    {{/if}}

  </div>
  {{/if}}
  <div>
    <button class="btn btn-outline-dark" style="border: none" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <i class="bi-person-fill" style="font-size: 2rem"></i>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          {{#if session}}
          Hi {{session.userFirstName}}
          {{else}}
          Hi Guest
          {{/if}}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        {{#if session.userFirstName}}
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Change Password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Change Personal Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/logout">Logout</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Support
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
        </ul>
        {{else}}
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/user/login">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/signup">Signup</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Support
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/calendar/month">Contact Us</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="/about">About Us</a></li>
            </ul>
          </li>
        </ul>
        {{/if}}
        <!-- <form class="d-flex mt-3" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form> -->
      </div>
    </div>
  </div>
</nav>