<nav class="navbar ">
  <div class="navbar-brand">
    <i class="bi-calendar-check-fill"></i>
    <a class="navbar-brand" href="/">TimeWise</a>
  </div>
  {{#if months}}
  <div>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <form id="monthCalendarForm" method="get" action="/calendar">
          <input type="hidden" name="month" value="{{prevMonth}}">
          {{#if (eq currentMonth 0 )}}
          <input type="hidden" name="year" value="{{prevYear}}">
          {{else}}
          <input type="hidden" name="year" value="{{currYear}}">
          {{/if}}
          <button type="submit" id="prevMonth" class="btn btn-outline-dark"
            style="border:
            none">
            <i class="bi bi-arrow-left-circle" style="font-size: 1.5rem; border:
              none"></i>
          </button>
        </form>

      </li>

      <li class="nav-item">
        <select id="monthDropDown" class="form-select h-100" aria-label="Month
          Select">
          {{#each months}}
          <option value="{{@index}}" {{#if (eq @index
            ../currentMonth)}}selected{{/if}}>{{this}}</option>
          {{/each}}
        </select>
      </li>

      <li class="nav-item">
        <form method="get" action="/calendar">
          <input type="hidden" name="month" value="{{nextMonth}}">
          {{#if (eq currentMonth 11)}}
          <input type="hidden" name="year" value="{{nextYear}}">
          {{else}}
          <input type="hidden" name="year" value="{{currYear}}">
          {{/if}}
          <button type="submit" id="nextMonth" class="btn btn-outline-dark"
            style="border:
            none">
            <i class="bi-arrow-right-circle" style="font-size: 1.5rem; border:
              none"></i>
          </button>
        </form>

      </li>
    </ul>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <form id="yearCalendarForm" method="get" action="/calendar">
          <input type="hidden" name="month" value="{{currentMonth}}">
          <input type="hidden" name="year" value="{{prevYear}}">
          <button type="submit" id="prevYear" class="btn btn-outline-dark"
            style="border: none">
            <i class="bi bi-arrow-left-circle" style="font-size: 1.5rem; border:
              none"></i>
          </button>
        </form>

      </li>

      <li class="nav-item">
        <select id="yearDropDown" class="form-select h-100" aria-label="Year
          Select">
          {{#each yearRange}}
          <option value="{{this}}" {{#if (eq ../currYear this)}}selected{{/if}}>{{this}}</option>
          {{/each}}
        </select>
      </li>

      <li class="nav-item">
        <form method="get" action="/calendar">
          <input type="hidden" name="month" value="{{currentMonth}}">
          <input type="hidden" name="year" value="{{nextYear}}">
          <button type="submit" id="nextYear" class="btn btn-outline-dark"
            style="border: none">
            <i class="bi-arrow-right-circle" style="font-size: 1.5rem; border:
              none"></i>
          </button>
        </form>
      </li>
    </ul>
  </div>
  {{/if}}
</nav>