{{#if session}}
{{#if (eq title "Calendar")}}

<div class="accordion" id="rightPaneUnassignedAndBacklogAccordion">
  <div class="accordion-item">
    <span class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseUnassignedMeetings" aria-expanded="false" aria-controls="collapseUnassignedMeetings">
        Unassigned Meetings
        <span
          class="position-absolute top-50 start-0 translate-middle badge rounded-pill bg-danger unassigned-meetings-counter">
          {{{rightPaneItems.meetings.length}}}
          <span class="visually-hidden">Unassigned Meetings</span>
        </span>
      </button>
    </span>
    <div id="collapseUnassignedMeetings" class="accordion-collapse collapse "
      data-bs-parent="#rightPaneUnassignedAndBacklogAccordion">
      <div class="accordion-body">
        <div class="card top50items_card">
          {{#if rightPaneItems.meetings.length }}
          <div class="card-body">
            <div class="d-grid gap-1 overflow-scroll-y" id="top50_unassigned_meetings">
              {{#each rightPaneItems.meetings}}
              <button draggable="true"
                class="badge event-pill swatch-cyan text-wrap  text-center event-button draggable-event-button"
                data-bs-toggle="modal" data-bs-target="#modal-meeting-display" data-bs-eventid="{{this._id}}"
                data-bs-userid="{{../session.user_id}}" data-bs-event-type="meeting"><i
                  class="bi-calendar-event">{{this.title}}</i></button>
              {{/each}}
            </div>
          </div>
          {{else}}
          <div class="card-body">
            <span class="card-title" id="top50_meetings_title">There are no Unassigned Meetings </span>
            <div class="d-grid gap-1 overflow-scroll-y" id="top50_unassigned_meetings"></div>
          </div>

          {{/if}}


        </div>

      </div>
    </div>
  </div>

  <div class="accordion-item">
    <span class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseUnassignedTasks" aria-expanded="false" aria-controls="collapseUnassignedTasks">
        Unassigned Tasks
        <span
          class="position-absolute top-50 start-0 translate-middle badge rounded-pill bg-danger unassigned-tasks-counter">
          {{{rightPaneItems.tasks.length}}}
          <span class="visually-hidden">Unassigned Tasks</span>
        </span>

      </button>
    </span>
    <div id="collapseUnassignedTasks" class="accordion-collapse collapse "
      data-bs-parent="#rightPaneUnassignedAndBacklogAccordion">
      <div class="accordion-body">
        <div class="card top50items_card">

          {{#if rightPaneItems.tasks.length }}
          <div class="card-body">
            <div class="d-grid gap-1 overflow-scroll-y" id="top50_unassigned_tasks">
              {{#each rightPaneItems.tasks}}

              <div draggable="true" class="badge border-0 bg-danger text-wrap text-center  draggable-event-button"
                data-bs-eventid="{{this._id}}" data-bs-userid="{{../session.user_id}}" data-bs-event-type="task">
                <input name="taskCheckBox" class="task-checkbox" data-bs-eventId="{{this._id}}"
                  data-bs-userId="{{../session.user_id}}" type="checkbox" value="true" aria-label="Task Checkbox" {{#if
                  this.checked}}checked {{/if}}>
                <button class="badge event-pill bg-danger border-0  text-wrap  text-center event-button"
                  data-bs-toggle="modal" data-bs-target="#modal-task-display" data-bs-eventid="{{this._id}}"
                  data-bs-userid="{{../session.user_id}}" data-bs-event-type="task"><i
                    class="bi-check2-square">{{this.title}}</i></button>
              </div>

              {{/each}}
            </div>
          </div>
          {{else}}
          <div class="card-body">
            <span class="card-title" id="top50_tasks_title">There are no Unassigned tasks </span>
            <div class="d-grid gap-1 overflow-scroll-y" id="top50_unassigned_tasks"></div>
          </div>

          {{/if}}
        </div>

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <span class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseBacklogTasks" aria-expanded="false" aria-controls="collapseBacklogTasks">
        Backlog Tasks
        <span
          class="position-absolute top-50 start-0 translate-middle badge rounded-pill bg-danger backlog-tasks-counter">
          {{{rightPaneItems.backlogtasks.length}}}
          <span class="visually-hidden">Backlog Tasks</span>
        </span>

      </button>
    </span>
    <div id="collapseBacklogTasks" class="accordion-collapse collapse "
      data-bs-parent="#rightPaneUnassignedAndBacklogAccordion">
      <div class="accordion-body">
        <div class="card backlog_items_card">

          {{#if rightPaneItems.backlogtasks.length }}
          <div class="card-body">
            <div class="d-grid gap-1 overflow-scroll-y" id="backlogitems">
              {{#each rightPaneItems.backlogtasks}}
              <div draggable="true"
                class="badge border-0 bg-danger{{#if this.expired}}-subtle{{/if}} text-wrap text-center draggable-event-button"
                data-bs-eventid="{{this._id}}" data-bs-userid="{{../session.user_id}}" data-bs-event-type="task">
                <input name="taskCheckBox" class="task-checkbox" data-bs-eventId="{{this._id}}"
                  data-bs-userId="{{../session.user_id}}" type="checkbox" value="true" aria-label="Task Checkbox" {{#if
                  this.checked}}checked {{/if}}>
                <button
                  class="badge event-pill bg-danger{{#if this.expired}}-subtle{{/if}} border-0  text-wrap  text-center event-button "
                  data-bs-toggle="modal" data-bs-target="#modal-task-display" data-bs-eventid="{{this._id}}"
                  data-bs-userid="{{../session.user_id}}" data-bs-event-type="task"><i
                    class="bi-check2-square">{{this.title}}</i></button>
              </div>
              {{/each}}
            </div>
          </div>
          {{else}}
          <div class="card-body">
            <span class="card-title" id="backlog_tasks_title">There are no Backlog Tasks</span>
            <div class="d-grid gap-1 overflow-scroll-y" id="backlogitems"></div>
          </div>

          {{/if}}

        </div>
      </div>
    </div>
  </div>
</div>



<div class="accordion" id="rightPaneUpcomingItemsAccordion">
  <div class="accordion-item">
    <span class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseUpcomingItemsAccordion" aria-expanded="false"
        aria-controls="collapseUpcomingItemsAccordion">
        Upcoming Items
        <span
          class="position-absolute top-50 start-0 translate-middle badge rounded-pill bg-danger upcoming-items-counter">
          {{{rightPaneItems.upcoming.length}}}
          <span class="visually-hidden">Upcoming Items</span>

        </span>
      </button>
    </span>
    <div id="collapseUpcomingItemsAccordion" class="accordion-collapse collapse "
      data-bs-parent="#rightPaneUpcomingItemsAccordion">
      <div class="accordion-body">
        <div class="card">
          {{#if rightPaneItems.upcoming.length }}
          <div class="card-body">
            <div class="d-grid gap-1 overflow-scroll-y" id="top50_upcoming_items">
              {{#each rightPaneItems.upcoming}}
              {{#if (eq this.type "meeting") }}
              <button draggable="true"
                class="badge event-pill swatch-cyan text-wrap  text-center event-button draggable-event-button"
                data-bs-toggle="modal" data-bs-target="#modal-meeting-display" data-bs-eventid="{{this._id}}"
                data-bs-userid="{{../session.user_id}}" data-bs-event-type="meeting"><i
                  class="bi-calendar-event">{{this.title}}</i></button>
              {{/if}}
              {{#if (eq this.type "task")}}
              <div draggable="true" class="badge border-0 bg-danger text-wrap text-center  draggable-event-button"
                data-bs-eventid="{{this._id}}" data-bs-userid="{{../session.user_id}}" data-bs-event-type="task">
                <input name="taskCheckBox" class="task-checkbox" data-bs-eventId="{{this._id}}"
                  data-bs-userId="{{../session.user_id}}" type="checkbox" value="true" aria-label="Task Checkbox" {{#if
                  this.checked}}checked {{/if}}>
                <button class="badge event-pill bg-danger border-0  text-wrap  text-center event-button"
                  data-bs-toggle="modal" data-bs-target="#modal-task-display" data-bs-eventid="{{this._id}}"
                  data-bs-userid="{{../session.user_id}}" data-bs-event-type="task"><i
                    class="bi-check2-square">{{this.title}}</i></button>
              </div>
              {{/if}}
              {{/each}}
            </div>
          </div>
          {{else}}
          <div class="card-body">
            <span class="card-title" id="top50_upcoming_items_title">There are no Upcoming Items </span>
            <div class="d-grid gap-1 overflow-scroll-y" id="top50_upcoming_items"></div>
          </div>

          {{/if}}


        </div>

      </div>
    </div>
  </div>
</div>
{{/if}}
{{/if}}