{{#if session}}
{{#if (eq title "Calendar")}}
<div>
  <div class="container mt-3">
    <button id="add-event-trigger" type="button" class="btn btn-primary" data-bs-toggle="modal"
      data-bs-target="#add-event-modal">Add Event</button>
  </div>
  {{>addEventModal}}
</div>




<div class="dropdown">
  <button class="btn btn-secondary " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
    data-bs-auto-close="false" aria-expanded="false">
    Select Filter Options
  </button>

  <!-- Create a dropdown menu -->
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li>
      <form id="filterForm" action="/calendar/filter" method="POST">
        <div class="form-group d-grid gap-1">
          {{#each filter.eventTypes}}
          <div class="form-check  form-switch">
            <input class="form-check-input" role="switch" type="checkbox" value="{{this}}" id="event-filter-{{this}}"
              name="event-filter-{{this}}" {{#if (includes ../filter.eventTypeSelected this)}} checked {{/if}}>
            <label class="form-label" for="event-filter-{{this}}">
              {{this}}
            </label>
          </div>
          {{/each}}

          {{#each filter.tags}}
          <div class="form-check form-switch">
            <input class="form-check-input" role="switch" type="checkbox" value="{{this}}" id="tag-filter-{{this}}"
              name="tag-filter-{{this}}" {{#if (includes ../filter.tagsSelected this)}} checked {{/if}}>
            <label class="form-label" for="tag-filter-{{this}}">
              {{this}}
            </label>
          </div>
          {{/each}}
          <button type="submit" class="btn btn-primary" id="submit">Submit</button>
        </div>

      </form>

    </li>
  </ul>

</div>

<div class="card top50items_card">
  {{#if rightPaneItems.meetings.length }}
  <div class="card-body">
    <span class="card-title" id="top50_meetings_title">Upcoming Meetings</span>
    <div class="d-grid gap-1" id="top50items">
      {{#each rightPaneItems.meetings}}

      {{#if (eq this.type "meeting")}}

      <button draggable="true"
        class="badge event-pill swatch-cyan{{#if this.expired}}-subtle{{/if}}  text-wrap  text-center event-button draggable-event-button"
        data-bs-toggle="modal" data-bs-target="#modal-meeting-display" data-bs-eventid="{{this._id}}"
        data-bs-userid="{{../session.user_id}}" data-bs-event-type="meeting"><i
          class="bi-calendar-event">{{this.title}}</i></button>
      {{/if}}
      {{/each}}


    </div>
  </div>
  {{else}}
  <div class="card-body">
    <span class="card-title" id="top50_meetings_title">There are no Meetings for the next 30 days</span>
    <div class="d-grid gap-1" id="top50items"></div>
  </div>

  {{/if}}

  {{#if rightPaneItems.tasks.length }}
  <div class="card-body">
    <span class="card-title" id="top50_tasks_title">Upcoming Tasks</span>
    <div class="d-grid gap-1" id="top50items">
      {{#each rightPaneItems.tasks}}
      {{#if (eq this.type "task")}}
      <div class="badge border-0 bg-danger{{#if this.expired}}-subtle{{/if}} text-wrap text-center">
        <input name="taskCheckBox" class="task-checkbox" data-bs-eventId="{{this._id}}"
          data-bs-userId="{{../../../session.user_id}}" type="checkbox" value="true" aria-label="Task Completed" {{#if
          this.checked}}checked value="true" {{/if}}>
        <button draggable="true"
          class="badge event-pill bg-danger{{#if this.expired}}-subtle{{/if}} border-0  text-wrap  text-center event-button draggable-event-button"
          data-bs-toggle="modal" data-bs-target="#modal-task-display" data-bs-eventid="{{this._id}}"
          data-bs-userid="{{../session.user_id}}" data-bs-event-type="task"><i
            class="bi-check2-square">{{this.title}}</i></button>
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
  {{else}}
  <div class="card-body">
    <span class="card-title" id="top50_tasks_title">There are no tasks for the next 30 days</span>
    <div class="d-grid gap-1" id="top50items"></div>
  </div>

  {{/if}}

  {{!-- {{#if rightPaneItems.meetings.length includeZero=true}}
  <div class="card-body">
    <span class="card-title" id="top50_meetings_title">Upcoming Meetings</span>
    <div class="d-grid gap-1" id="top50items">
      {{#each rightPaneItems.tasks}}



      {{/each}}
    </div>
    {{else}}
    <div class="card-body">
      <span class="card-title" id="top50_tasks_title">There are no tasks for the next 30 days</span>
      <div class="d-grid gap-1" id="top50items"></div>
    </div>

    {{/if}} --}}

  </div>

  {{/if}}
  {{/if}}