<tr class="sticky-calendar-row ">
  <td class="timeslots"></td>

  {{#each week}}
  <td class="text-center date-cell" data-bs-day="{{this.dayjsDateId}}">
    <button id="{{this.dayjsDateId}}"
      class="date-clickable badge rounded-pill border-0{{#if (checkIfToday this.year this.month this.day)}} swatch-orange{{/if}}">
      {{this.day}}
    </button>
  </td>
  {{/each}}

</tr>
{{#each timeslots}}
<tr>
  <td class="timeslots">{{this }}</td>
  {{#each ../week}}

  <td class="date-time-cell" data-bs-day="{{this.dayjsDateId}}" data-bs-timeslot="{{../this}}">
    <div class="d-grid gap-1">
      {{#if this.modalData.meetings.length}}
      {{#each this.modalData.meetings}}
      {{#if (eq this.timeslotStart ../../this)}}

      <button
        class="badge  border-0 event-pill swatch-cyan{{#if this.expired}}-subtle{{/if}} text-wrap  text-center event-button"
        data-bs-toggle="modal" data-bs-target="#modal-meeting-display" data-bs-eventId="{{this._id}}"
        data-bs-userId="{{../../../session.user_id}}" data-bs-event-type="{{this.type}}">
        <i class="bi-calendar-event"></i>
        {{{this.title}}}</button>
      {{/if}}
      {{/each}}
      {{/if}}

      {{#if this.modalData.notes.length}}
      {{#each this.modalData.notes}}
      {{#if (eq this.timeslotStart ../../this)}}
      <button class="badge  border-0 event-pill bg-success  text-wrap  text-center event-button" data-bs-toggle="modal"
        data-bs-target="#modal-notes-display" data-bs-eventId="{{this._id}}"
        data-bs-userId="{{../../../session.user_id}}" data-bs-event-type="{{this.type}}">
        <i class="bi-file-text"></i>
        {{{this.title}}}</button>

      {{!--
      <span class="badge event-pill bg-success  text-wrap  text-center">
        <i class="bi-file-text"></i>
        {{{this.title}}}</span> --}}
      {{/if}}
      {{/each}}
      {{/if}}


      {{#if this.modalData.reminders.length}}
      {{#each this.modalData.reminders}}
      {{#if (eq this.timeslotStart ../../this)}}
      <button
        class="badge  border-0 event-pill swatch-indigo{{#if this.expired}}-subtle{{/if}}  text-wrap  text-center event-button"
        data-bs-toggle="modal" data-bs-target="#modal-reminder-display" data-bs-eventId="{{this._id}}"
        data-bs-userId="{{../../../session.user_id}}" data-bs-event-type="{{this.type}}">
        <i class="bi-alarm"></i>
        {{{this.title}}}</button>
      {{/if}}
      {{/each}}
      {{/if}}

      {{#if this.modalData.tasks.length}}
      {{#each this.modalData.tasks}}
      {{#if (eq this.timeslotStart ../../this)}}
      <div class="badge border-0 bg-danger{{#if this.expired}}-subtle{{/if}}  text-wrap text-center">
        <input name="taskCheckBox" class="task-checkbox" data-bs-eventId="{{this._id}}"
          data-bs-userId="{{../../../session.user_id}}" type="checkbox" value="true" aria-label="Task Checkbox" {{#if
          this.checked}}checked{{/if}}>
        <button
          class="badge event-pill bg-danger{{#if this.expired}}-subtle{{/if}} {{#if this.checked}}task-completed{{/if}} border-0  text-wrap  text-center event-button"
          data-bs-toggle="modal" data-bs-target="#modal-task-display" data-bs-eventId="{{this._id}}"
          data-bs-userId="{{../../../session.user_id}}" data-bs-event-type="{{this.type}}">
          <i class="bi-check2-square"></i>
          {{{this.title}}}</button>
      </div>
      {{/if}}
      {{/each}}
      {{/if}}
    </div>
  </td>

  {{/each}}

</tr>
{{/each}}