<tr class="sticky-calendar-row bg-light">
  <td></td>

  {{#each week}}
  <td>
    <div {{#if (checkIfToday this.year this.month this.day)}} class="badge rounded-pill bg-info" {{/if}}>
      {{this.day}}
    </div>
  </td>
  {{/each}}

</tr>
{{#each timeslots}}
<tr>
  <td class=" timeslots">{{this }}</td>
  {{#each ../week}}

  <td >
    <div class="d-grid gap-1">
    {{#if this.modalData.meetings.length}}
    {{#each this.modalData.meetings}}
    {{#if (eq this.timeslotStart ../../this)}}
    <button class="badge event-pill text-bg-primary text-wrap text-center event-button" data-bs-toggle="modal" data-bs-target="#modal-meeting-display" data-bs-eventId="{{this._id}}" data-bs-userId="{{../../../session.user_id}}" data-bs-event-type="{{this.type}}"
    >
      <i class="bi-calendar-event"></i>
      {{{this.title}}}</button>
    {{/if}}
    {{/each}}
    {{/if}}

 {{#if this.modalData.notes.length}}
    {{#each this.modalData.notes}}
    {{#if (eq this.timeslotStart ../../this)}}
    <span class="badge event-pill text-bg-success text-wrap text-center">
      <i class="bi-file-text"></i>
      {{{this.title}}}</span>
    {{/if}}
    {{/each}}
    {{/if}}

  
 {{#if this.modalData.reminders.length}}
    {{#each this.modalData.reminders}}
    {{#if (eq this.timeslotStart ../../this)}}
    <button class="badge event-pill text-bg-warning text-wrap text-center event-button" data-bs-toggle="modal" data-bs-target="#modal-reminder-display" data-bs-eventId="{{this._id}}" data-bs-userId="{{../../../session.user_id}}" data-bs-event-type="{{this.type}}">
    <i class="bi-calendar-event"></i>
      {{{this.title}}}</button>
    {{/if}}
    {{/each}}
  {{/if}}

 {{#if this.modalData.tasks.length}}
    {{#each this.modalData.tasks}}
    {{#if (eq this.timeslotStart ../../this)}}
    <span class="badge event-pill text-bg-danger text-wrap text-center">
       <i class="bi-check2-square"></i>
      {{{this.title}}}</span>
    {{/if}}
    {{/each}}
    {{/if}}
    </div>
  </td>

  {{/each}}

</tr>
{{/each}}
