<div id="edit-form-div" class="container w-100">
  <form action="/user/edit" id="edit-form" method="POST"
    class="needs-validation {{#if is_invalid}} was-validated{{/if}}" novalidate>
    <h1>Edit Profile</h1>
    <br>
    <div class="row g-3 align-items-center">
      <div class="col-auto ">
        <label for="first_name" class="col-form-label">First Name: </label>
      </div>
      <div class="col-auto ">
        <input required type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name"
          pattern="^[a-zA-Z]+$"
          value="{{#if errorContent.first_name}}{{errorContent.first_name}}{{else}}{{currUser.first_name}}{{/if}}" />
      </div>
      <div class="col-auto ">
        <div id="first_name_error" class="invalid-feedback">
          {{errorMessages.first_name}}
        </div>
      </div>
    </div>
    <br />

    <div class="row g-3 align-items-center">
      <div class="col-auto ">
        <label for="first_name" class="col-form-label">Last Name: </label>
      </div>
      <div class="col-auto ">
        <input required type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name"
          pattern="^[a-zA-Z]+$"
          value="{{#if errorContent.last_name}}{{errorContent.last_name}}{{else}}{{currUser.last_name}}{{/if}}" />
      </div>
      <div class="col-auto ">
        <div id="last_name_error" class="invalid-feedback">
          {{errorMessages.last_name}}
        </div>
      </div>
    </div>
    <br />
    <div class="row g-3 align-items-center">
      <div class="col-auto ">
        <label for="email" class="col-form-label">Email: </label>
      </div>
      <div class="col-auto ">
        <input required type="text" class="form-control" name="email" id="email" placeholder="Email"
          pattern="/^[a-zA-Z]+[\._%+\-]*[a-zA-Z0-9]+@[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,}$/"
          value="{{#if errorContent.email}}{{errorContent.email}}{{else}}{{currUser.email}}{{/if}}" />
      </div>
      <div class="col-auto ">
        <div id="email_error" class="invalid-feedback">
          {{errorMessages.email}}
        </div>
      </div>
    </div>
    <br />
    <div class="row g-3 align-items-center">
      <div class="col-auto ">
        <label for="dob" class="col-form-label">Date of Birth: </label>
      </div>
      <div class="col-auto ">
        <input required type="text" class="form-control" name="dob" id="dob" placeholder="MM/DD/YYYY"
          value="{{#if errorContent.dob}}{{errorContent.dob}}{{else}}{{currUser.dob}}{{/if}}" />
      </div>
      <div class="col-auto ">
        <div id="date_error" class="invalid-feedback">
          {{errorMessages.dob}}
        </div>
      </div>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="disability" id="disability"
        aria-describedby="disability_help_id" value="true" {{#if errorContent.disability}} checked {{else}} {{!-- this
        should come from the back as boolean but it goes into the API as a string --}} {{#if currUser.disability}}
        checked {{/if}} {{/if}} />
      <label class="form-check-label" for="disability">
        Disability CheckBox
      </label>
      <small id="disability_help_id" class="form-text text-muted">
        Please check if you need accesibilty Features</small>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Save Changes</button>
  </form>
  <script src="/public/scripts/profile_edit.js" type="text/javascript"></script>
</div>