<div id="edit-form-div" class="container w-100">
  <form action="/user/edit" id="edit-form" method="POST"
    class="needs-validation {{#if is_invalid}} was-validated{{/if}}" novalidate>
    <h1>Edit Profile</h1>
    <br>
    <div class="row g-3 align-items-center">
      <div class="col-auto ">
        <label for="first_name" class="col-form-label">First Name: </label>
      </div>
      <div class="col-auto ">
        <input required type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name"
          minlength="1" maxlength="20" pattern="^(?=.{1,20}$)(?![\d])[\w\s]+$"
          value="{{#if errorContent.first_name}}{{errorContent.first_name}}{{else}}{{currUser.first_name}}{{/if}}" />
        <div id="first_name_error" class="invalid-feedback">
          {{errorMessages.first_name_error}}
        </div>
      </div>
    </div>
    <br />

    <div class="row g-3 align-items-center">
      <div class="col-auto ">
        <label for="last_name" class="col-form-label">Last Name: </label>
      </div>
      <div class="col-auto ">
        <input required type="text" class="form-control" name="last_name" id="last_name" aria-label="Last Name"
          placeholder="Last Name" minlength="1" maxlength="20" pattern="^(?=.{1,20}$)(?![\d])[\w\s]+$"
          value="{{#if errorContent.last_name}}{{errorContent.last_name}}{{else}}{{currUser.last_name}}{{/if}}" />
        <div id="last_name_error" class="invalid-feedback">
          {{errorMessages.last_name_error}}
        </div>
      </div>
    </div>
    <br />
    <div class="row g-3 align-items-center">
      <div class="col-auto ">
        <label for="dob" class="col-form-label">Date of Birth: </label>
      </div>
      <div class="col-auto ">
        <input required type="date" class="form-control" name="dob" id="dob" placeholder="MM/DD/YYYY"
          max="{{minDobDate}}" min="{{maxDobDate}}"
          value="{{#if errorContent.dob}}{{errorContent.dob}}{{else}}{{currUser.dob}}{{/if}}" />

        <div id="date_error" class="invalid-feedback">
          {{errorMessages.date_error}}
          <p>
            Please enter a date Range between
            <br>
            {{minDobDate}} to {{maxDobDate}}
          </p>
        </div>
      </div>
    </div>


    <button class="w-100 btn btn-lg btn-primary" type="submit">Save Changes</button>
    <div class="my-3"></div>
    <button class="w-100 btn btn-lg btn-warning" id="delete-events-button" type="button">Delete All Events</button>
    <div class="my-3"></div>
    <button class="w-100 btn btn-lg btn-danger" id="delete-profile-button" type="button">Delete Profile</button>

  </form>
  <script src="/public/scripts/profile_edit.js" type="text/javascript"></script>
</div>