<div id="password-div" class="text-center container w-50">

  <form
    action="/user/password"
    id="password-form"
    method="POST"
    
    class="needs-validation {{#if is_invalid}}was-validated{{/if}}"
    novalidate
  >
    <h1 class="h3 mb-3 fw-normal">
      <i class="bi-calendar-check-fill"></i>
    </h1>
    <br />

    <div class="form-floating">
      <input
        required
        type="password"
        class="form-control"
        name="oldPassword"
        id="oldPassword"
        placeholder="Current Password"
        minlength="8"
        pattern="^(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
        aria-describedby="oldPassword_help_id"
        value="{{#if errorContent.oldPassword}}{{errorContent.oldPassword}}{{/if}}"
      />
      <label for="oldPassword">Current Password</label>
      <small id = "oldPassword_help_id" class = "form-text text-muted">
        Please Enter Current Password Here</small>
      <div id="oldPassword_error" class="invalid-feedback">
        {{errorMessages.oldPassword}}
      </div>
    </div>
    <br />
        <div class="form-floating">
      <input
        required
        type="password"
        class="form-control"
        name="newPassword"
        id="newPassword"
        placeholder="New Password"
        minlength ="8"
        pattern="^(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
        aria-describedby="newPassword_help_id"
        value="{{#if errorContent.newPassword}}{{errorContent.newPassword}}{{/if}}"
      />
      <label for="newPassword">New Password</label>
      <small id = "newPassword_help_id" class = "form-text text-muted">
        Please Enter New Password Here
      </small>
      <div id="newPassword_error" class="invalid-feedback">
        {{errorMessages.newPassword}}
      </div>
    </div>
    <br />
        <div class="form-floating">
      <input
        required
        type="password"
        class="form-control"
        name="reEnterNewPassword"
        id="reEnterNewPassword"
        placeholder="Re-Enter New Password"
        minlength="8"
        pattern="^(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
        aria-describedby="reEnterNewPassword_help_id"
        value="{{#if errorContent.reEnterNewPassword}}{{errorContent.reEnterNewPassword}}{{/if}}"
      />
      <label for="reEnterNewPassword">Re-Enter New Password</label>
      <small id = "reEnterNewPassword_help_id" class = "form-text text-muted">
        Please Enter Current Password Here
      </small>
      <div id="reEnterNewPassword_error" class="invalid-feedback" {{#if errorMessages.reEnterNewPassword}}style="display:block !important"{{/if}}>
        {{errorMessages.reEnterNewPassword}}
      </div>
    </div>
    <br />

        <button class="w-100 btn btn-lg btn-primary" type="submit">Change Password</button>
        {{#if error}}
        <div class="alert alert-danger" role="alert">
        <strong>{{error}}</strong>
        </div>
        {{/if}}
         {{#if success}}
        <div class="alert alert-sucess" role="alert">
        <strong>{{success}}</strong>
        </div>
        {{/if}}
  </form>
    
  </div>       

<script src="/public/scripts/password.js" type="text/javascript"></script>