<div
  class="modal fade"
  id="modal-event-display-{{eventData._id}}"
  tabindex="-1"
  aria-labelledby="modal-{{eventData._id}}-label"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/meeting/user/{{session.user_id}}/meetings/">

        <div class="modal-header">
          <input
            class="modal-title"
            id="modal-{{eventData._id}}-label"
            value="{{eventData.title}}"
            name="title"
          />
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >Close</button>
          <input type="submit" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>
</div>